<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new chat</title>
</head>
<body>
    <h3>write new chat</h3>
    <form method="POST" action="/chats">
        <input placeholder="who are you" name="from" type="text"><br><br>
        <textarea name="msg" id="" placeholder="write your message"></textarea><br><br>
        <input type="text" placeholder="add recever" name="to"><br><br>
        <button>Create chat</button>
    </form>
</body>
</html>